body {
    background-color:#40afdf ;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}
.title-text {
    margin-top: 2%;
   
}
h3 {
    margin-top: 2%;
}
.question-number {
    font-size: x-large;
    font-weight: bolder;
    /* margin-left: 5%; */
    padding:2% 5%;
    text-align: left;
    color:#0e6570 ;
    
}
.question-text {
    font-size: x-large;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}
.box {
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 1%;

    border: rgb(241, 232, 232) 2px solid;
    background-color: rgb(250, 249, 249);
    border-radius: 15px;
    width: 60%;
    height : 70%;
    text-align: center;
    

}
.hide {
    display: none;
}
ul {
    text-align: center;
    padding-left: 0;
}

li {
   text-align: center;
    /* margin-left: 35%; */
    margin-top: 1%;
    list-style : none;
    
}
button {
    margin-top: 1%;
    padding: 1em 2em;
    font-size: 1em;
    border : 3px solid #40afdf;
    border-radius: 50px;
    background-color: #0e6570;
    color: rgb(241, 232, 232);
    font-weight: bold;
    transition: all 0.25s;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: #40afdf;
}

button:active {
    transform: translateY(4px);
}


.option-container {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.option  {
    margin-top: 1%;
 
    padding: 2% 5%;
    width: 90%;
    border-radius: 5px;
    background-color: #bbb8b8;
    border-width: 0px;
    font-weight: normal;
    color: black;
    display: block;
    text-align: left;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
    /* transition: all 0.5s ease-in; */
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.option.already-answered{
    pointer-events: none;
}
.option.correct::before{
    content : '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgb(3, 116, 3);
    z-index: -1;
    animation: slideInLeft 0.5s ease forwards;

}
.option.wrong::before{
    content : '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgb(214, 4, 4);
    z-index: -1;
    animation: slideInLeft 0.5s ease forwards;

}

.option.correct {
    color: #ffffff;
}
.option.wrong {
    color: #ffffff;
}
@keyframes slideInLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}


.next-btn {
    border-width: 0;
    border-radius: 5px;
    font-weight: normal;
    
}
.answers-indicator{
    height: 3em;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 0;
    text-align: left;
    
    
}
.ans-icon {
    display: flex;
    margin-right: 1%;
    padding: auto;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    text-align: center;
    
    background-color: #bbb8b8;
    display: inline-block;
}
.ans-icon.correct {
    background-color: green;
    background-image: url(correct.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.ans-icon.wrong {
    background-color: red;
    background-image: url(wrong.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.result-table{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    min-width: 90%;
    border: 1px solid ;
    border-color: #bbb8b8;
    border-collapse: collapse;
    
    

}
td {
    padding: 1% 2%;
    border: 1px solid #bbb8b8;
    width: 50%;
    min-width: 100%;
    text-align: left;
   
  
    font-size: large;

}
.btn-cont {
    display: flex;
    margin-top: 2%;
    margin-bottom: 1%;
    
    text-align: center;
   justify-content: space-evenly;
}

@media (max-width:467px){
    .box{
        width: 90%;
    height : 80%;
    }
    button {

    }
    
}